@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:wght@400;700&display=swap");
:root {
  --primary-colour: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-family: "Exo", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: white;
}

header {
  padding: 1.5rem 2.5rem;
  background: var(--primary-colour);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .fa-bars {
  font-size: 2.5rem;
  cursor: pointer;
}
header .container .logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  display: inline;
}
header .container .logo i {
  padding: 0.5rem;
}
header .container .logo:hover {
  color: #EB4D4B;
}
header .container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
header .container .right .search-container {
  display: inline;
  position: relative;
}
header .container .right .search-container input {
  position: absolute;
  top: -1.5rem;
  right: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0 1rem;
  outline: none;
  border: none;
  border-radius: 5rem;
}
header .container .right .search-container input:hover, header .container .right .search-container input:focus {
  width: 25rem;
}
header .container .right .search-container label {
  position: absolute;
  top: -0.7rem;
  left: -3.5rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  color: var(--primary-colour);
}
header .container .right .search-container label:hover ~ label {
  width: 25rem;
}
header .container .right .shopping-cart {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
header .container .right .shopping-cart:hover {
  color: #EB4D4B;
}
header .navbar {
  position: fixed;
  z-index: 1000;
  top: 0rem;
  left: 0rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0rem;
  height: 100vh;
  width: 100vw;
  display: none;
}
header .navbar ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 70%;
  background-color: var(--primary-colour);
  justify-content: center;
  padding: 1.5rem;
}
header .navbar ul li {
  margin-bottom: 2rem;
}
header .navbar ul li a {
  text-decoration: none;
  background-color: white;
  color: #333;
  padding: 0.8rem 3.5rem;
  border-radius: 5rem;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3rem;
  display: block;
}
header .navbar ul li a:hover {
  text-decoration: none;
  background: #EB4D4B;
  font-weight: bold;
  letter-spacing: 0.15rem;
  color: #fff;
}
header .fa-xmark {
  z-index: 1001;
  transform: translateX(1300%);
}

section#home {
  padding-bottom: 5rem;
  background: var(--primary-colour);
}
section#home .slide {
  display: grid;
  grid-template-columns: 50fr 50fr;
  justify-content: center;
  align-items: center;
  padding: 0rem 3.5rem;
  margin-top: 3rem;
}
section#home .slide .hero-content {
  margin-top: 5rem;
}
section#home .slide .hero-content h1 {
  font-size: 1.75rem;
  letter-spacing: 0.2rem;
}
section#home .slide .hero-content p {
  text-align: left;
  font-size: 1.1rem;
  line-height: 2rem;
}
section#home .slide .hero-content .stars {
  margin: 1rem 0;
}
section#home .slide .hero-content .stars .star {
  color: gold;
  font-size: 1rem;
}
section#home .slide .hero-content h2 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #EB4D4B;
  margin-bottom: 1rem;
}
section#home .slide .hero-content button {
  background-color: #4834D4;
  color: white;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.2rem;
}
section#home .slide .hero-content button:hover {
  background-color: #EB4D4B;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
section#home .slide .hero-image {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: initial;
  margin-left: 0.5rem;
}
section#home .slide .hero-image img {
  width: 100%;
  object-fit: cover;
}
section#home .owl-nav .owl-next,
section#home .owl-nav .owl-prev {
  position: absolute;
  color: #EB4D4B;
  top: 45%;
  transform: translateY(-50%);
  font-size: 3.8rem;
  background: none;
}
section#home .owl-nav .owl-prev {
  left: 0rem;
}
section#home .owl-nav .owl-next {
  right: 0rem;
}
section#home .owl-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
section#home .owl-dots .active {
  color: #EB4D4B;
}

#product {
  background-color: white;
  color: #4834D4;
  padding-bottom: 8rem;
}
#product .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100vw;
}
#product .heading {
  color: #4834D4;
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
  margin: 2rem 0;
  position: relative;
}
#product .heading::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3rem;
  width: 60%;
  background: #EB4D4B;
}
#product .product-container {
  width: 90%;
}
#product .product-container h4 {
  font-size: 3rem;
  color: #EB4D4B;
  margin: 3rem 4%;
}
#product .product-container .product-slider .slide {
  height: 40rem;
  width: 30rem;
  margin: 2rem auto;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  position: relative;
}
#product .product-container .product-slider .slide .product-image {
  height: 75%;
  width: 100%;
}
#product .product-container .product-slider .slide .product-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#product .product-container .product-slider .slide .description {
  height: 25%;
  width: 100%;
  text-align: center;
}
#product .product-container .product-slider .slide .description h3 {
  font-size: 3rem;
  color: #4834D4;
}
#product .product-container .product-slider .slide .description .stars i {
  color: gold;
}
#product .product-container .product-slider .slide .description p {
  font-size: 2rem;
  color: #EB4D4B;
}
#product .product-container .product-slider .slide .product-info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;
  padding: 5rem 2rem;
  text-align: center;
  transform: scale(0);
  height: 100%;
  width: 100%;
  transition-delay: 0.2s;
}
#product .product-container .product-slider .slide .product-info h2 {
  font-size: 2.4rem;
  margin: 1.5rem 0;
}
#product .product-container .product-slider .slide .product-info p {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
#product .product-container .product-slider .slide .product-info button {
  padding: 1rem 3.5rem;
  border-radius: 5rem;
  background-color: #EB4D4B;
  outline: none;
  border: none;
  color: white;
  font-size: 1.4rem;
  margin: 2.5rem 0;
  cursor: pointer;
}
#product .product-container .product-slider .slide .product-info button:hover {
  background-color: #4834D4;
  font-weight: bold;
}
#product .product-container .product-slider .slide .product-info .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
#product .product-container .product-slider .slide .product-info .social-icons .social-icon {
  text-decoration: none;
  background-color: #fff;
  font-size: 2.4rem;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  text-align: center;
  margin-right: 1rem;
  width: 4rem;
}
#product .product-container .product-slider .slide .product-info .social-icons .social-icon i {
  color: #EB4D4B;
}
#product .product-container .product-slider .slide .product-info .social-icons .social-icon:hover {
  background-color: #EB4D4B;
}
#product .product-container .product-slider .slide .product-info .social-icons .social-icon:hover i {
  color: #fff;
}
#product .product-container .product-slider .slide:hover .product-info {
  transform: scale(1);
}

section#offer {
  background-color: rgb(249, 243, 243);
  padding: 6rem 0;
}
section#offer .container h2 {
  color: #4834D4;
  font-size: 3rem;
  font-weight: normal;
  position: relative;
  text-align: center;
  margin-bottom: 5rem;
}
section#offer .container h2::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3rem;
  width: 20%;
  background: #EB4D4B;
}
section#offer .container .deals .deal {
  margin-bottom: 8rem;
}
section#offer .container .deals .deal h4 {
  color: #EB4D4B;
  text-align: center;
  font-size: 2.8rem;
}

@media only screen and (min-width: 500px) {
  header .navbar ul {
    padding-top: 15rem;
  }
  header .navbar ul li a {
    font-size: 1.8rem;
    line-height: 4rem;
  }
  header .fa-xmark {
    transform: translateX(1800%);
  }

  section#home .slide .hero-content h1 {
    font-size: 2.4rem;
  }
  section#home .slide .hero-content h2 {
    font-size: 1.8rem;
  }
  section#home .slide .hero-content button {
    padding: 0.6rem 1.8rem;
  }

  section#product .product-container h4 {
    margin: 3rem auto;
  }
}
@media only screen and (min-width: 768px) {
  header .navbar ul {
    padding-top: 10rem;
    text-align: center;
  }
  header .navbar ul li {
    padding-top: 1rem;
  }
  header .navbar ul li a {
    font-size: 1.8rem;
    line-height: 5rem;
    display: inline-block;
    width: 40rem;
  }
  header .fa-xmark {
    transform: translateX(2800%);
  }

  section#home .slide .hero-content h1 {
    font-size: 3rem;
  }
  section#home .slide .hero-content h2 {
    font-size: 2.1rem;
  }
  section#home .slide .hero-content p {
    font-size: 1.4rem;
  }
  section#home .slide .hero-content .stars .star {
    font-size: 1.8rem;
  }
  section#home .slide .hero-content button {
    font-size: 1.4rem;
  }
  section#home .owl-nav .owl-next,
section#home .owl-nav .owl-prev {
    font-size: 5rem;
  }

  section#offer {
    padding: 0;
    padding-top: 6rem;
  }
  section#offer .deals {
    display: flex;
    justify-content: space-around;
  }
  section#offer .deals .deal {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  section#offer .deals .deal h4 {
    color: #EB4D4B;
    text-align: center;
    font-size: 2.1rem;
  }
  section#offer .deals .deal .deal-svg {
    width: 15rem;
    height: 16rem;
  }
}
@media only screen and (min-width: 1024px) {
  .container,
.slide {
    max-width: 1400px;
    margin: 0 auto;
  }

  header {
    padding: 0rem 2rem;
  }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .container .logo {
    display: block;
    font-size: 2.8rem;
  }
  header .fa-bars {
    display: none;
  }
  header .navbar {
    position: unset;
    z-index: unset;
    top: 0rem;
    left: 0rem;
    background-color: unset;
    height: unset;
    width: unset;
    display: inline-block;
  }
  header .navbar ul {
    display: flex;
    flex-flow: row;
    background-color: var(--primary-colour);
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
    margin-left: unset;
  }
  header .navbar ul li {
    margin-bottom: unset;
    color: unset;
  }
  header .navbar ul li a {
    background-color: unset;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    border-radius: unset;
    display: block;
    letter-spacing: 0.15rem;
    width: 10rem;
  }
  header .navbar ul li a:hover {
    text-decoration: none;
    background: none;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #EB4D4B;
  }

  section#home .slide .hero-content {
    padding-left: 2.1rem;
  }
}
@media only screen and (min-width: 1440px) {
  html {
    font-size: 80%;
  }

  section#home .owl-nav .owl-next,
section#home .owl-nav .owl-prev {
    font-size: 6rem;
  }
}/*# sourceMappingURL=style.css.map */