@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:wght@400;700&display=swap');


:root {
    --primary-colour: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    font-family: 'Exo', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    background: var(--primary-colour);
    color: white;
}

header {
    padding: 1.5rem 2.5rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fa-bars {
            font-size: 2.5rem;
            cursor: pointer;
        }

        .logo {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 2.5rem;
            display: inline;

            i {
                padding: 0.5rem;
            }

        }

        .right {
            display: flex;
            align-items: center;
            font-size: 2rem;

            .search-container {
                display: inline;
                position: relative;

                input {
                    position: absolute;
                    top: -1.5rem;
                    right: 0.8rem;
                    width: 3.5rem;
                    height: 3.5rem;
                    padding: 0 1rem;
                    outline: none;
                    border: none;
                    border-radius: 5rem;

                    &:hover,
                    &:focus {
                        width: 25rem;
                    }
                }

                label {
                    position: absolute;
                    top: -.7rem;
                    left: -3.5rem;
                    font-size: 2rem;
                    cursor: pointer;
                    z-index: 1;
                    color: var(--primary-colour);

                    &:hover~label {
                        width: 25rem;
                    }
                }
            }
        }
    }

    .navbar {
        position: fixed;
        z-index: 1000;
        top: 0rem;
        left: 0rem;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 0rem;
        height: 100vh;
        width: 100vw;
        display: none;




        ul {
            list-style: none;
            display: flex;
            flex-flow: column;
            height: 100%;
            width: 35rem;
            background-color: var(--primary-colour);
            justify-content: center;
            padding: 1.5rem;

            li {
                margin-bottom: 2rem;

                a {
                    text-decoration: none;
                    background-color: white;
                    color: #333;
                    padding: 0.8rem 3.5rem;
                    border-radius: 5rem;
                    font-size: 1.4rem;
                    text-align: center;
                    font-size: 2rem;
                    line-height: 4rem;
                    display: block;

                    &:hover {
                        text-decoration: none;
                        background: #EB4D4B;
                        letter-spacing: .15rem;
                        color: #fff;
                    }
                }
            }
        }

    }
}


.fa-xmark {

    z-index: 1001;
    transform: translateX(27rem);


}

@media only screen and(min-width: 1480px) {
    header {
        padding: 0rem 2rem;

        .container {
            width: 1400px;
            margin: 0 auto;
        }

        .fa-bars {
            display: none;
        }

        .navbar {
            position: unset;
            z-index: 1000;
            top: 0rem;
            left: 0rem;
            background-color: none;
            height: unset;
            width: unset;
            display: block;




            ul {
                display: flex;
                flex-flow: row;
                background-color: var(--primary-colour);
                justify-content: center;
                align-items: center;
                padding: 1.5rem;

                li {
                    margin-bottom: unset;
                    color: unset;

                    a {

                        background-color: unset;
                        color: #fff;


                        text-align: center;
                        font-size: 1.8rem;
                        border-radius: unset;

                        display: block;
                        letter-spacing: 0.15rem;

                        &:hover {
                            text-decoration: none;
                            background: none;
                            font-weight: bold;
                            letter-spacing: 0.1rem;
                        }
                    }
                }
            }

        }
    }
}