@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:wght@400;700&display=swap');

// INITIAL QUERY: 375px
:root {
    --primary-colour: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    font-family: 'Exo', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: var(--primary-colour);
    color: white;
}

header {
    padding: 1.5rem 2.5rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fa-bars {
            font-size: 2.5rem;
            cursor: pointer;
        }

        .logo {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 2.5rem;
            display: inline;

            i {
                padding: 0.5rem;
            }

            &:hover {
                color: #EB4D4B;
            }

        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;

            .search-container {
                display: inline;
                position: relative;

                input {
                    position: absolute;
                    top: -1.5rem;
                    right: 0.8rem;
                    width: 3.5rem;
                    height: 3.5rem;
                    padding: 0 1rem;
                    outline: none;
                    border: none;
                    border-radius: 5rem;

                    &:hover,
                    &:focus {
                        width: 25rem;
                    }
                }

                label {
                    position: absolute;
                    top: -.7rem;
                    left: -3.5rem;
                    font-size: 2rem;
                    cursor: pointer;
                    z-index: 1;
                    color: var(--primary-colour);

                    &:hover~label {
                        width: 25rem;
                    }
                }
            }

            .shopping-cart {
                display: block;
                text-decoration: none;
                color: white;
                font-size: 2.5rem;
                padding: 0.5rem;
                margin-top: 0.5rem;

                &:hover {
                    color: #EB4D4B;
                }
            }
        }
    }

    .navbar {
        position: fixed;
        z-index: 1000;
        top: 0rem;
        left: 0rem;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 0rem;
        height: 100vh;
        width: 100vw;
        display: none;




        ul {
            list-style: none;
            display: flex;
            flex-flow: column;
            height: 100%;
            width: 70%;
            background-color: var(--primary-colour);
            justify-content: center;
            padding: 1.5rem;

            li {
                margin-bottom: 2rem;


                a {
                    text-decoration: none;
                    background-color: white;
                    color: #333;
                    padding: 0.8rem 3.5rem;
                    border-radius: 5rem;
                    font-size: 1.4rem;
                    text-align: center;
                    line-height: 3rem;
                    display: block;

                    &:hover {
                        text-decoration: none;
                        background: #EB4D4B;
                        font-weight: bold;
                        letter-spacing: .15rem;
                        color: #fff;
                    }
                }
            }
        }

    }

    .fa-xmark {
        z-index: 1001;
        transform: translateX(1300%);
    }
}

section#home {


    .slide {
        display: grid;
        grid-template-columns: 50fr 50fr;
        justify-content: center;
        align-items: center;
        padding: 0rem 3.5rem;
        margin-top: 3rem;

        .hero-content {
            margin-top: 5rem;

            h1 {
                font-size: 1.75rem;
                letter-spacing: 0.2rem;
            }

            p {
                text-align: left;
                font-size: 1.1rem;
                line-height: 2rem;
                // padding-right: 5rem;
            }

            .stars {
                margin: 1rem 0;

                .star {
                    color: gold;
                    font-size: 1rem;
                }
            }

            h2 {
                font-size: 1.5rem;
                font-weight: normal;
                color: #EB4D4B;

                margin-bottom: 1rem;
            }

            button {
                background-color: #4834D4;
                // background-color: purple;
                color: white;
                padding: 0.6rem 1.5rem;
                border: none;
                border-radius: 5rem;
                cursor: pointer;
                font-size: 1.2rem;


                &:hover {
                    background-color: #EB4D4B;
                    font-weight: bold;
                    letter-spacing: 0.1rem;
                }
            }
        }

        .hero-image {
            width: 100%;
            height: 100%;
            margin-top: 2rem;
            display: flex;
            align-items: initial;
            margin-left: 0.5rem;


            img {
                width: 100%;
                object-fit: cover;

            }
        }
    }


    .owl-nav {

        .owl-next,
        .owl-prev {
            position: absolute;
            color: #EB4D4B;
            top: 45%;
            transform: translateY(-50%);
            font-size: 3.8rem;
            background: none;
        }

        .owl-prev {
            left: 0rem;
        }

        .owl-next {
            right: 0rem;
        }


    }

    .owl-dots {
        position: absolute;
        bottom: -15%;
        left: 50%;
        transform: translateX(-50%);

        .active {
            color: #EB4D4B;
        }
    }


}




@media only screen and (min-width:500px) {
    header {
        .navbar {
            ul {
                padding-top: 15rem;

                li {
                    a {
                        font-size: 1.8rem;
                        line-height: 4rem;
                    }
                }
            }
        }

        .fa-xmark {
            transform: translateX(1800%);
        }
    }

    section#home {
        .slide {
            .hero-content {
                h1 {
                    font-size: 2.4rem;
                }

                h2 {
                    font-size: 1.8rem;
                }

                button {
                    padding: 0.6rem 1.8rem;
                }
            }
        }
    }
}

@media only screen and (min-width:768px) {
    header {
        .navbar {
            ul {
                padding-top: 10rem;
                text-align: center;

                li {
                    padding-top: 1rem;

                    a {
                        font-size: 1.8rem;
                        line-height: 5rem;
                        display: inline-block;
                        width: 40rem;
                    }
                }
            }
        }

        .fa-xmark {
            transform: translateX(2800%);
        }
    }

    section#home {
        .slide {
            .hero-content {
                h1 {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 2.1rem;
                }

                p {
                    font-size: 1.4rem;
                }

                .stars {

                    .star {
                        font-size: 1.8rem;
                    }
                }

                button {
                    font-size: 1.4rem;
                }
            }


        }

        .owl-nav {

            .owl-next,
            .owl-prev {
                font-size: 5rem;
            }
        }
    }
}

// @media only screen and (min-width:1024px) {}





@media only screen and(min-width: 1024px) {

    .container,
    .slide {
        max-width: 1400px;
        margin: 0 auto;
    }

    header {
        padding: 0rem 2rem;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                display: block;
                font-size: 2.8rem;
            }
        }



        .fa-bars {
            display: none;
        }



        .navbar {
            position: unset;
            z-index: unset;
            top: 0rem;
            left: 0rem;
            background-color: unset;
            height: unset;
            width: unset;
            display: inline-block;



            ul {
                display: flex;
                flex-flow: row;
                background-color: var(--primary-colour);
                justify-content: center;
                align-items: center;
                padding: 1.5rem 0rem;
                margin-left: unset;


                li {
                    margin-bottom: unset;
                    color: unset;

                    a {

                        background-color: unset;
                        color: #fff;
                        text-align: center;
                        font-size: 1.8rem;
                        border-radius: unset;
                        display: block;
                        letter-spacing: 0.15rem;
                        width: 10rem;

                        &:hover {
                            text-decoration: none;
                            background: none;
                            font-weight: bold;
                            letter-spacing: 0.1rem;
                            color: #EB4D4B;
                        }
                    }
                }
            }

        }

    }

    section#home {
        .slide {
            .hero-content {
                padding-left: 2.1rem;
            }
        }
    }
}

@media only screen and(min-width: 1440px) {
    html {
        font-size: 80%;
    }
}